@{
    ViewData["Title"] = "Home";
}

<h2>Bem-vindo ao sistema</h2>

<div>
    <a href="/Pessoa" class="btn btn-primary">Gerenciar Pessoas</a>
</div>
 
<div>
    <a href="/Vaga" class="btn btn-primary">Gerenciar Vagas</a>
</div>

<div>
    <a href="/Candidatura" class="btn btn-primary">Gerenciar Candidaturas</a>
</div>
